<p id="notice"><%= notice %></p>

<h1>Mining Types</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= @mining_types.human_attribute_name(:description) %></th>
      <th><%= @mining_types.human_attribute_name(:acronym) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mining_types.each do |mining_type| %>
      <tr>
        <td class="table-primary"><%= mining_type.description %></td>
        <td class="table-secondary"><%= mining_type.acronym %></td>
        <td class="table-success"><%= link_to t('links.show'), mining_type %></td>
        <td class="table-danger"><%= link_to t('links.edit'), edit_mining_type_path(mining_type) %></td>
        <td class="table-warning"><%= link_to t('links.destroy'), mining_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mining Type', new_mining_type_path %>
