<!DOCTYPE html>
<html>
  <head>
    <title>CryptoWallet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    params[:controller], media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag  params[:controller], 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <%= link_to 'Idioma Português', root_path(locale: 'pt-BR'), class:"navbar-brand" %>
          <%= link_to 'English', root_path(locale: 'en'), class:"navbar-brand" %>
        </div>
      </nav>
      <%= yield %>
    </div>
      <%# <script>
      $.notify("Access granted", "success");
      </script> %>
  </body>
</html>
